body{
    background:#f4f4f4;
    font-family:'poppins',sans-serif;
}
h1 {
    
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: navy;
    text-shadow: 2px 2px 4px gray;
}

p {
   
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
    text-indent: 40px;
    color: #333;
}
img{
    width: 500px;
    height: auto;
    display: block;
    margin: 20px auto;
    border: 3px solid navy;
    border-radius: 10px;
}