 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
 }
 
 body {
    text-align: center;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.fade-up{
    opacity:0;
    animation: fadeup 2s infinite;
    letter-spacing: 5px;
}
@keyframes fadeup {
    0%{
        opacity:0;
        transform: translateY(20px);
    }
    50%{
        opacity:1;
        transform: translateY(0);
    }
    100%{
        opacity:0;
        transform: translateY(-20px);
    }
}

